NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB-waklmr237PkvYBoKICGv3VTVHiL9818
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=myrh-32b0a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=myrh-32b0a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=myrh-32b0a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=790059854366
NEXT_PUBLIC_FIREBASE_APP_ID=1:790059854366:web:b3fead7fbeafa2f3cadc0f
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_EMULATOR_HOST=
NEXT_PUBLIC_FIREBASE_DATA_CONNECT_EMULATOR_PORT=
NEXT_PUBLIC_APP_BACKEND_MODE=firebase

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB-waklmr237PkvYBoKICGv3VTVHiL9818
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=myrh-32b0a.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=myrh-32b0a
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=myrh-32b0a.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=790059854366
EXPO_PUBLIC_FIREBASE_APP_ID=1:790059854366:web:b3fead7fbeafa2f3cadc0f
EXPO_PUBLIC_FIREBASE_DATA_CONNECT_URL=
EXPO_PUBLIC_FIREBASE_DATA_CONNECT_EMULATOR_HOST=
EXPO_PUBLIC_FIREBASE_DATA_CONNECT_EMULATOR_PORT=
EXPO_PUBLIC_APP_BACKEND_MODE=firebase
